@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root  {
      --background: 23 100% 95%;
      --foreground: 23 5% 0%;
      --card: 23 50% 90%;
      --card-foreground: 23 5% 10%;
      --popover: 23 100% 95%;
      --popover-foreground: 23 100% 0%;
      --primary: 23 92.9% 50.2%;
      --primary-foreground: 0 0% 100%;
      --secondary: 23 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: -15 30% 85%;
      --muted-foreground: 23 5% 35%;
      --accent: -15 30% 80%;
      --accent-foreground: 23 5% 10%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 23 5% 90%;
      --border: 23 30% 50%;
      --input: 23 30% 18%;
      --ring: 23 92.9% 50.2%;
      --radius: 0.5rem;
      }
      .dark  {
      --background: 23 50% 5%;
      --foreground: 23 5% 90%;
      --card: 23 50% 0%;
      --card-foreground: 23 5% 90%;
      --popover: 23 50% 5%;
      --popover-foreground: 23 5% 90%;
      --primary: 23 92.9% 50.2%;
      --primary-foreground: 0 0% 100%;
      --secondary: 23 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: -15 30% 15%;
      --muted-foreground: 23 5% 60%;
      --accent: -15 30% 15%;
      --accent-foreground: 23 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 23 5% 90%;
      --border: 23 30% 18%;
      --input: 23 30% 18%;
      --ring: 23 92.9% 50.2%;
      --radius: 0.5rem;
      }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }